In [1]:
import pandas as pd

In [30]:
complaints = pd.read_table('data/FLAT_CMPL.txt', sep = '\t', header = None, error_bad_lines = False)

/var/folders/w8/wfcl37392dg8532klypndfxxj3jskc/T/ipykernel_95774/3707055367.py:1: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  complaints = pd.read_table('data/FLAT_CMPL.txt', sep = '\t', header = None, error_bad_lines = False)
b'Skipping line 555896: expected 49 fields, saw 70\n'
/var/folders/w8/wfcl37392dg8532klypndfxxj3jskc/T/ipykernel_95774/3707055367.py:1: DtypeWarning: Columns (15,16,18,28,30,32,33,34,35,38,39,40,41,42,43,44) have mixed types. Specify dtype option on import or set low_memory=False.
  complaints = pd.read_table('data/FLAT_CMPL.txt', sep = '\t', header = None, error_bad_lines = False)

In [31]:
complaints

,0,1,2,3,4,5,6,7,8,9,...,39,40,41,42,43,44,45,46,47,48
0,1,958241,"Volvo Car USA, LLC",VOLVO,760,1987.0,N,NaN,N,0,...,NaN,NaN,NaN,NaN,NaN,NaN,V,NaN,N,N
1,2,958130,Ford Motor Company,FORD,THUNDERBIRD,1992.0,N,19941222.0,N,0,...,NaN,NaN,NaN,NaN,NaN,NaN,V,NaN,N,N
2,3,958132,"Kia America, Inc.",KIA,SEPHIA,1994.0,Y,19941230.0,N,0,...,NaN,NaN,NaN,NaN,NaN,NaN,V,NaN,N,N
3,4,958133,"Chrysler (FCA US, LLC)",DODGE,600,1987.0,N,19941231.0,N,0,...,NaN,NaN,NaN,NaN,NaN,NaN,V,NaN,N,N
4,5,958137,"Chrysler (FCA US, LLC)",DODGE,CARAVAN,1991.0,N,19941218.0,N,0,...,NaN,NaN,NaN,NaN,NaN,NaN,V,NaN,N,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1873259,1874184,11508250,"Volkswagen Group of America, Inc.",VOLKSWAGEN,ID.4,2023.0,N,20230220.0,N,0,...,NaN,NaN,NaN,NaN,NaN,NaN,V,NaN,N,N
1873260,1874185,11508251,"General Motors, LLC",CHEVROLET,MALIBU,2019.0,N,20230219.0,N,0,...,NaN,NaN,NaN,NaN,NaN,NaN,V,NaN,N,N
1873261,1874186,11508251,"General Motors, LLC",CHEVROLET,MALIBU,2019.0,N,20230219.0,N,0,...,NaN,NaN,NaN,NaN,NaN,NaN,V,NaN,N,N
1873262,1874187,11508251,"General Motors, LLC",CHEVROLET,MALIBU,2019.0,N,20230219.0,N,0,...,NaN,NaN,NaN,NaN,NaN,NaN,V,NaN,N,N
1873263,1874188,11508252,"Volkswagen Group of America, Inc.",VOLKSWAGEN,TOUAREG,2005.0,N,20230202.0,N,0,...,NaN,NaN,NaN,NaN,NaN,NaN,V,NaN,N,N